* {
    font-family: 'Epilogue', sans-serif;
    font-weight: 400;
}

body {
    background-color: #000000;
}

#right {
    right: 12%;
}

#left {
    left: 12%;
}

.film_edge {
    position: fixed;
    height: 100vh;
    top: -5px;
    margin: 0;
    padding: 0;
}

.film_gap {
    background-color: #ffffff;
    height: 25px;
    width: 35px;
    margin: 12.5px;
    border-radius: 2px;
}

.intro {
    position: relative;
    width: 65%;
    margin: 2.5% auto;
    border: 2px solid #fff;
    border-radius: 2px;
    text-align: center;
    color: #ffffff;
}

h1 {
    font-size: 8rem;
    font-weight: 600;
}

h2 {
    font-size: 2rem;
}

span {
    font-weight: 600;
}

.monthHeader {
    padding: 4% 4% 4% 4%;
    margin: 0;
    color: #ffffff;
}

.movieContainer {
    display: flex;
    padding: 2% 2% 4% 2%;
}

.movieBox {
    position: relative;
    width: 30%;
    margin: 0 2%;
    padding: 2%;
    border: 1px solid #ffffff;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.movieBox p {
    margin: 0;
    color: #ffffff;
    padding-top: 5px;
}

#starburst {
    position: absolute;
    top: 35%;
    left: 75%;
    width: auto;
    height: 200px;
}

.month {
    border: 1px solid #ffffff;
    position: relative;
    width: 65%;
    margin: 2.5% auto;
    border-radius: 2px;
}

.inactive {
    background-color: #ececec;
}

#jan {
    background-image: url(January2.png);
    background-size: 120%;
    background-position: -30px, -10px;
}

#feb {
    background-image: url(February.png);
    background-size: 120%;
    background-position: -30px, -10px;
}


#mar {
    background-image: url(March.png);
    background-size: 120%;
    background-position: -30px, -10px;
}

#apr {
    background-image: url(April.png);
    background-size: 120%;
    background-position: -30px, -10px;
}

#may {
    background-image: url(May.png);
    background-size: 120%;
    background-position: -30px, -10px;
}

#jun {
    background-image: url(June.png);
    background-size: 120%;
    background-position: -30px, -10px;
}

#jul {
    background-image: url(July.png);
    background-size: 120%;
    background-position: -30px, -10px;
}

#aug {
    background-image: url(August.png);
    background-size: 120%;
    background-position: -30px, -10px;
}

#sep {
    background-image: url(September.png);
    background-size: 120%;
    background-position: -30px, -10px;
}

@media only screen and (max-width: 1200px) {
    
    #starburst {
        width: 100px;
        z-index: 1;
        top: 25%;
        left: 65%;
    }

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 1.25rem;
    }

    .movieBox p {
        font-size: .75rem;
        padding-bottom: 0;
    }

    .movieBox p span {
        padding-top: 0;
        font-size: .5rem;
    }

    .month, .intro {
        width: 50%;
    }

    .movieContainer {
        flex-direction: column;
        align-items: center;
    }

    .movieBox {
        width: 85%;
        margin: 2% 0;
    }

    #right {
        right: 4%;
    }
    
    #left {
        left: 4%;
    }

    #jan, #feb, #mar, #apr, #may, #jun, #jul, #aug, #sep, #oct, #nov, #dec {
        background-size: auto;
        background-image: none;
        background-color: #000000;
    }
    

  }